* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  display: flex;
  align-items: center;
  min-height: 100vh;
}

label,
input,
button {
  display: block;
  width: 100%;
}

main {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
}

input {
  margin: 5px 0 10px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
}

input,
button {
  padding: 10px;
}

button {
  border: none;
  border-radius: 4px;
  background-color: #ccc;
  cursor: pointer;
}

#output_msg {
  margin-bottom: 10px;
  font-size: .7rem;
  color: #fff;
  padding: 10px;
  transform: scale(0);
  display: none;
}

.invalid_msg {
  background-color: #FF0000B2;
  display: block !important;
  animation: show_msg .3s ease forwards;
}

.success_msg {
  background-color: #008000B2;
  display: block !important;
  animation: show_msg .3s ease forwards;
}

.equals_msg {
  background-color: #FFA500B2;
  display: block !important;
  animation: show_msg .3s ease forwards;
}

@keyframes show_msg {
  to {
    transform: scale(1);
  }
}

.invalid_btn {
  animation: invalid_btn .9s ease alternate;
}

.success_btn {
  animation: success_btn .9s ease alternate;
}

.equals_btn {
  animation: equals_btn .9s ease alternate;
}

@keyframes invalid_btn {
  from, to {
    background-color: #FF0000B2;
    color: #fff;
    transform: initial;
  }

  33% {
    transform: translateX(-10px);
  }

  66% {
    transform: translateX(20px);
  }
}

@keyframes success_btn {
  from, to {
    background-color: #008000B2;
    color: #fff;
    transform: initial;
  }

  33% {
    transform: scale(1.1)
  }
} 

@keyframes equals_btn {
  from, to {
    background-color: #FFA500B2;
    color: #fff;
    transform: initial;
  }

  33% {
    transform: scale(.9);
  }
} 